@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    --primary-color: #3282B8;
    --secondary-color: #30343F;
    --off-white: #D7DAE5;
    --space-blue: #1e2449;
    --ghost-white: #FAFAFF;
    --gradient-blue: rgba(12,155,205,1);
}

html {
    height: -webkit-fill-available;
  }

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 1rem 0rem;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
}

/* container */

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* Links */
.link {
    display: inline-block;
    text-decoration: none;
    padding: 0.75rem 0.75rem;
    margin-right: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

.link-primary {
    background: var(--primary-color);
    color: var(--ghost-white);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px var(--space-blue);
    transition: background-color 500ms, box-shadow 250ms;
}

.link-primary:hover{    
    background-color: var(--gradient-blue);
    box-shadow: 2px 2px 5px var(--space-blue);
    transition: background-color 500ms, box-shadow 250ms;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    box-shadow: 1px 1px 2px var(--space-blue);
    transition: box-shadow 250ms;
}

.link-secondary:hover{
    box-shadow: 2px 2px 5px var(--space-blue);
    transition: box-shadow 250ms;
}

/* lists */
.list-non-bullet {
    list-style: none;
}

.list-bulleted-small{
    font-size: small;
    margin: 0rem 2rem;
    list-style: circle;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */
.navigation {
    background: var(--primary-color);
    background: linear-gradient(151deg, var(--primary-color) 0%, var(--gradient-blue));
    color: var(--ghost-white);
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0rem 1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: var(--ghost-white);
}

.navigation .link-active {
    color: var(--ghost-white);
    font-weight: bold;
}

/* header */
.hero {
    padding: 1rem 0rem;
    padding-top: 4rem;
}

.hero .hero-image {
    max-width: 350px;
    max-height: 250px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    display: block;
    font-size: 1.5rem;
    color: var(--secondary-color);
    padding-top: 2rem;
    text-align: center;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/* sections */

.section{
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.off-white{
    background-color: var(--off-white);
}

/* footers */

.footer{
    background: var(--primary-color);
    background: linear-gradient(151deg, var(--gradient-blue) 0%, var(--primary-color));
    padding: 2rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    color: var(--ghost-white);
    }

.footer .footer-header{
    font-weight: bold;
    font-size: larger;
}

.footer .link{
    color: var(--ghost-white);
    text-align: center;
}

.footer ul{
    padding-inline-start: 0px;
}

/* Arbitrary */

.align-center{
    text-align: center;
    display: block; 
}

.justified{
    text-align: justify !important;
}

.social-links a{
    border-radius: 25%;
    padding: 0.5rem
}

.social-links a:hover{
    background-color: var(--ghost-white);
    color: var(--primary-color);
    transition: background-color 500ms, color 100ms;
    border-radius: 2rem;
    padding: 0.40rem 0.5rem;
    
}

ul{
    margin: 0px;
    padding-inline-start: 0px;
}

p{
    line-height: 1.5rem;
}

/* Links inside blog content */
.sub-link{
    text-decoration: none;
    color: var(--secondary-color);
}

/* Image formatting for blog */
.content-image-right{
    max-width: 250px;
    max-height: 250px;
    float: right;
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    margin-left: 1rem;
}
.content-image-left{
    max-width: 250px;
    max-height: 250px;
    float: right;
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    margin-right: 1rem;
}

/* formatting for blog posts */
.blog-image{
    max-width: 60vw;
    display: block;
    margin: auto;
}

.blog-post{
    max-width: 80vw;
    margin: auto;
    padding: 0rem;
}