@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    --dark-green: #09C800;
    --almost-black: rgba(28,28,30);
    --white: rgba(209,209,214, 1);
    --light-gray: rgba(174,174,178);
    --dark-gray: rgba(58,58,60);
    --highlight-green: #09D200;
    --off-white: rgba(190,190,190,1);
    --ghost-white: #F5F5F7;
    --gradient-black: rgba(17,17,17,1);
}

html {
    height: -webkit-fill-available;
    background: var(--white);
  }

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.logo-akn{
    margin: auto 1rem;
    max-width: 2rem;
}

hr {
    margin: 1rem 0rem;
    border: 1px solid var(--almost-black);
}

h1 {
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
}

/* container */

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* Links */
.link {
    display: inline-block;
    text-decoration: none;
    padding: 0.75rem 0.75rem;
    margin-right: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    color: var(--highlight-green);
}

.link-primary {
    /* background: var(--highlight-green); */
    color: var(--highlight-green);
    background: var(--gradient-black);
    border: 2px solid var(--gradient-black);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 1px var(--dark-green);
    transition: box-shadow 250ms;
}

.link-primary:hover{  
    box-shadow: 0px 0px 7px var(--dark-green);
    transition: box-shadow 250ms;
}

.link-secondary {
    color: var(--dark-green);
    font-weight: bol;
    border-radius: 0.5rem;
    border: 2px solid var(--highlight-green);
    box-shadow: 0px 0px 1px var(--dark-green);
    transition: box-shadow 250ms;
}

.link-secondary:hover{
    box-shadow: 0px 0px 7px var(--dark-green);
    transition: box-shadow 250ms;
}

/* lists */
.list-non-bullet {
    list-style: none;
}

.list-bulleted-small{
    font-size: small;
    margin: 0rem 2rem;
    list-style: circle;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.listing-portfolio{
    padding: 0rem 1rem;
    padding-bottom: 1rem;
}


/* navigation */
.navigation {
    background: var(--almost-black);
    background: linear-gradient(151deg, var(--almost-black) 0%, var(--gradient-black));
    color: var(--highlight-green);
    padding: 1rem 0.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 1px 5px 1px var(--dark-green);
    transition: box-shadow 250ms;
}

.navigation:hover{
    box-shadow: 0px 1px 15px 1px var(--dark-green);
    transition: box-shadow 250ms;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0rem 1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: var(--dark-green);
}

.navigation .link:hover {
    color: var(--highlight-green);

}

.navigation .link-active {
    color: var(--highlight-green);
    font-weight: bold !important;
}

/* header */
.hero {
    position: relative;
    z-index: -100;
    padding: 1rem 0rem;
    padding-top: 4rem;
    background: linear-gradient(180deg,var(--off-white) 0%, var(--ghost-white) 40%,var(--white) 100%);
}

.hero .hero-image {
    max-width: 350px;
    max-height: 250px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    display: block;
    font-size: 1.5rem;
    color: var(--gradient-black);
    padding-top: 2rem;
    text-align: center;
}

.hero .hero-heading .heading-inverted {
    color: var(--dark-green);
}

/* sections */

.section{
    padding: 2rem;
}



.section h1 {
    text-align: center;
}

.off-white{
   background-color: var(--light-gray);
   transition: box-shadow 250ms;
   position: relative;
   z-index: 0;
}

.off-white:hover{
    box-shadow: 0px 0px 10px 1px var(--dark-green);
    transition: box-shadow 250ms;
}


/* footers */

.footer{
    position: relative;
    z-index: 1;
    background-color: var(--almost-black);
    background: linear-gradient(151deg, var(--almost-black) 0%, var(--gradient-black));
    padding: 2rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    font-weight: lighter !important;
    color: var(--highlight-green);
    box-shadow: 0px -1px 5px 1px var(--dark-green);
    transition: box-shadow 250ms;
    }

.footer:hover{
    box-shadow: 0px -1px 15px 1px var(--dark-green);
    transition: box-shadow 250ms;
}

.footer .footer-header{
    font-size: larger;
}

.footer .link{
    color: var(--highlight-green);
    text-align: center;
}

.footer ul{
    padding-inline-start: 0px;
}

/* Arbitrary */

.align-center{
    text-align: center;
    display: block; 
}

.justified{
    text-align: justify !important;
}

.social-links a{
    border-radius: 0.5rem;
    padding: 0.5rem 0.6rem;
    transition: background-color 250ms, color 250ms, box-shadow 250ms;
}

.social-links a:hover{
    color: var(--almost-black);
    background-color: var(--dark-green);
    box-shadow: 0px 0px 5px var(--dark-green);
    transition: background-color 250ms, color 250ms, box shadow 250ms;
}

ul{
    margin: 0px;
    padding-inline-start: 0px;
}

p{
    line-height: 1.5rem;
}

/* Links inside blog content */
.sub-link{
    text-decoration: none;
    color: var(--secondary-color);
}

/* Image formatting for blog */
.content-image-right{
    max-width: 250px;
    max-height: 250px;
    float: right;
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    margin-left: 1rem;
}
.content-image-left{
    max-width: 250px;
    max-height: 250px;
    float: right;
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    margin-right: 1rem;
}

/* formatting for blog posts */
.blog-image{
    max-width: 60vw;
    display: block;
    margin: auto;
}

.blog-post{
    max-width: 80vw;
    margin: auto;
    padding: 0rem;
}

